/* Set body and html margin to 0 */

body, html {
    margin: 0;
}


/* main-window */

#main-window {
    width: 80vw;
    height: 80vh;
    border: 1px solid black;
    position: relative;
    margin: 5% 10%;
}


/* viewing-window */

#hero-img {
    height: 40%;
    width: 20%;
    border: 1px solid black;
    position: relative;
}


.block {
    display: block;
}

.inline.block {
    display: inline-block;
}


/* Split selector and children */

#selector {
    height: auto;
    display: block;
}

.fortyfive {
    width: 45%;
}