/* positioning */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}


/* Set body and html margin to 0 */

body, html {
    margin: 0;
}

.block {
    display: block;
}

.eigthy {
    height: 80vh;
    width: 80vh;
    border: 5px solid black;
}